
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 223, 197, 0.5);
    line-height: 1.6;
    margin: 0px;
    padding: 50px;}

h1 {
    background-color: rgb(253, 118, 21);
    margin: 0;
    color: white;
    padding: 50px;}

h2{
    color: blue;}

head{
    background-color: aqua;}

main{
    padding: 20px;
    margin-bottom: 60px;}

section{
    background-color: #ffff;
    padding: 20;
    border-radius: 20;
    margin-bottom: 20;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1) ;}

img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;}

footer{
    background-color: chocolate;
    color: azure;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.email-link{
    color: rgb(49, 26, 24);
    text-decoration: nones;
}
li{
    size: 50px;
}

.flex-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

}
.flex-item{
    flex: 1;
    min-width:250px ;
    background-color: rgba(196, 213, 255, 0.258);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}